In [1]:
import pandas as pd

In [9]:
REL_PATH = "."

`src/process_bg_tables/util/load_csv_with_dtypes` can be used to load the .csv with the correct datatypes. (ex: `load_csv_with_dtypes('ACS_BG_DATA_2022')`)

In [1]:
import sys
sys.path.append("./src/")
from src.process_bg_tables.util import load_csv_with_dtypes
from src.configs import ACS_BG_FILENAME

In [4]:
df = load_csv_with_dtypes(ACS_BG_FILENAME, rel_path=".")

In [5]:
df.head()

,bg_fips,census_tract_fips,county_fips,state_fips,state,county_name,population,non_institutionized_pop,households,pct_hh_internet_subscription,...,pct_inst_groupquarters_2020,pct_non_inst_groupquarters_2020,zip,msa_code,MSA,tract_pop_density_sqmile,pct_tract_groupqtrs,pct_tract_military_employed,military_base_flag,military_base_flag_geo
0,010010201001,01001020100,01001,01,AL,"Autauga County, Alabama",558,558,261,0.950192,...,0.00000,0.000000,36067,C3386,"Montgomery, AL MSA",1132.736616,0.000000,0.003217,0,0
1,010010201002,01001020100,01001,01,AL,"Autauga County, Alabama",1307,1301,439,0.899772,...,0.00000,0.000000,36067,C3386,"Montgomery, AL MSA",868.606955,0.000000,0.003217,0,0
2,010010202001,01001020200,01001,01,AL,"Autauga County, Alabama",548,546,204,0.750000,...,0.00000,0.000000,36067,C3386,"Montgomery, AL MSA",2341.638433,0.098872,0.015046,0,0
3,010010202002,01001020200,01001,01,AL,"Autauga County, Alabama",1313,1103,340,0.805882,...,0.13136,0.000000,36067,C3386,"Montgomery, AL MSA",3817.965524,0.098872,0.015046,0,0
4,010010203001,01001020300,01001,01,AL,"Autauga County, Alabama",2835,2829,1011,0.928783,...,0.00589,0.002103,36067,C3386,"Montgomery, AL MSA",2339.120054,0.002005,0.007732,0,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242336 entries, 0 to 242335
Data columns (total 50 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   bg_fips                                     242336 non-null  object
 1   census_tract_fips                           242336 non-null  object
 2   county_fips                                 242336 non-null  object
 3   state_fips                                  242336 non-null  object
 4   state                                       242336 non-null  object
 5   county_name                                 242336 non-null  object
 6   population                                  242336 non-null  int32
 7   non_institutionized_pop                     242336 non-null  int32
 8   households                                  242336 non-null  int32
 9   pct_hh_internet_subscription                239535 non-null  float64
 10  pct_hh_vehicle_ownership                    239535 non-null  float64
 11  avg_vehicles_per_hh                         239535 non-null  float64
 12  pct_hh_foodstamps                           239535 non-null  float64
 13  pct_home_ownership                          239535 non-null  float64
 14  prop_female                                 240172 non-null  float64
 15  prop_age_under_18                           240172 non-null  float64
 16  prop_age_18_24                              240172 non-null  float64
 17  prop_age_18_29                              240172 non-null  float64
 18  prop_age_25_34                              240172 non-null  float64
 19  prop_age_35_44                              240172 non-null  float64
 20  prop_age_45_54                              240172 non-null  float64
 21  prop_age_50_64                              240172 non-null  float64
 22  prop_age_55_64                              240172 non-null  float64
 23  prop_age_65_69                              240172 non-null  float64
 24  prop_age_65_74                              240172 non-null  float64
 25  median_age                                  240002 non-null  float64
 26  race_pct_white                              240172 non-null  float64
 27  race_pct_african_american                   240172 non-null  float64
 28  race_pct_nativeam                           240172 non-null  float64
 29  race_pct_asian                              240172 non-null  float64
 30  race_pct_other                              242336 non-null  float64
 31  race_pct_hispanic                           240172 non-null  float64
 32  median_income                               225130 non-null  float64
 33  pct_college_enrolled                        240172 non-null  float64
 34  prop_college_educated                       240172 non-null  float64
 35  pct_married                                 240172 non-null  float64
 36  blockgroup_center_lat                       242336 non-null  float64
 37  blockgroup_center_lng                       242336 non-null  float64
 38  amindian_aknative_hawaiiannative_land_flag  242331 non-null  float64
 39  pop_density_sqmile                          242336 non-null  float64
 40  pct_inst_groupquarters_2020                 240942 non-null  float64
 41  pct_non_inst_groupquarters_2020             240942 non-null  float64
 42  zip                                         240949 non-null  object
 43  msa_code                                    224031 non-null  object
 44  MSA                                         224031 non-null  object
 45  tract_pop_density_sqmile                    241946 non-null  float64
 46  pct_tract_groupqtrs                         241401 non-null  float64
 47  pct_tract_military_employed                 241401 non-null  float64
 48  military_base_flag                          242336 non-null  int32
 49  military_base_flag_geo                      242336 non-null  int32
dtypes: float64(36), int32(5), object(9)
memory usage: 87.8+ MB

# peek at checkpoints

In [2]:
import sys
sys.path.append("./src/")
from src.process_bg_tables.util import load_checkpoint_df
# from src.configs import ACS_BG_FILENAME

In [4]:
df1 = load_checkpoint_df("acs_data_step_1", rel_path=".")

In [5]:
df1.head()

,population,non_institutionized_pop,households,pct_hh_internet_subscription,pct_hh_vehicle_ownership,avg_vehicles_per_hh,pct_hh_foodstamps,pct_home_ownership,pct_hh_income_up_to_10k,pct_hh_income_10k_to_15k,...,race_pct_asian,race_pct_other,race_pct_hispanic,median_income,grp_quarters_pop,military_employed,pct_college_enrolled,prop_college_educated,pct_married,bg_fips
0,558,558,261,0.950192,1.000000,2.256705,0.160920,0.689655,0.000000,0.095785,...,0.00000,0.127240,0.091398,42204.0,0,0,0.089606,0.207885,0.394265,010010201001
1,1307,1301,439,0.899772,0.927107,2.186788,0.239180,0.772210,0.000000,0.134396,...,0.03443,0.031370,0.022953,62022.0,0,6,0.056618,0.136955,0.452946,010010201002
2,548,546,204,0.750000,0.897059,2.161765,0.200980,0.725490,0.014706,0.127451,...,0.00000,0.082117,0.003650,58971.0,0,2,0.131387,0.171533,0.337591,010010202001
3,1313,1103,340,0.805882,0.935294,1.747059,0.164706,0.826471,0.052941,0.000000,...,0.00000,0.074638,0.000000,57063.0,184,26,0.025133,0.136329,0.211729,010010202002
4,2835,2829,1011,0.928783,0.982196,2.282888,0.023739,0.794263,0.008902,0.020772,...,0.00388,0.064550,0.015520,84646.0,7,0,0.057143,0.097002,0.326631,010010203001

In [6]:
df2 = load_checkpoint_df("acs_data_step_2", rel_path=".")

In [7]:
df2.columns

Index(['bg_fips', 'census_tract_fips', 'county_fips', 'state_fips', 'state',
       'county_name', 'population', 'non_institutionized_pop', 'households',
       'pct_hh_internet_subscription', 'pct_hh_vehicle_ownership',
       'avg_vehicles_per_hh', 'pct_hh_foodstamps', 'pct_home_ownership',
       'pct_hh_income_up_to_10k', 'pct_hh_income_10k_to_15k',
       'pct_hh_income_15k_to_20k', 'pct_hh_income_20k_to_25k',
       'pct_hh_income_25k_to_30k', 'pct_hh_income_30k_to_35k',
       'pct_hh_income_35k_to_40k', 'pct_hh_income_40k_to_45k',
       'pct_hh_income_45k_to_50k', 'pct_hh_income_50k_to_60k',
       'pct_hh_income_60k_to_75k', 'pct_hh_income_75k_to_100k',
       'pct_hh_income_100k_to_125k', 'pct_hh_income_125k_to_150k',
       'pct_hh_income_150k_to_200k', 'pct_hh_income_200k_and_above',
       'prop_female', 'prop_age_under_18', 'prop_age_18_24', 'prop_age_18_29',
       'prop_age_25_34', 'prop_age_35_44', 'prop_age_45_54', 'prop_age_50_64',
       'prop_age_55_64', 'prop_age_65_69', 'prop_age_65_74', 'median_age',
       'race_pct_white', 'race_pct_african_american', 'race_pct_nativeam',
       'race_pct_asian', 'race_pct_other', 'race_pct_hispanic',
       'median_income', 'grp_quarters_pop', 'military_employed',
       'pct_college_enrolled', 'prop_college_educated', 'pct_married',
       'blockgroup_center_lat', 'blockgroup_center_lng', 'area_sqmile'],
      dtype='object')

## aside: inspect "raw" data

In [8]:
from src.process_bg_tables.util import load_csv_with_dtypes
from src.configs import LAT_LON_PATH_NO_EXT

In [10]:
lat_lon_df = load_csv_with_dtypes(LAT_LON_PATH_NO_EXT, REL_PATH)

In [11]:
lat_lon_df.head()

        bg_fips  blockgroup_center_lat  blockgroup_center_lng  area_sqmile
0  010010201001              32.465926             -86.490582     1.646455
1  010010201002              32.485873             -86.489672     2.147116
2  010010202001              32.480082             -86.474974     0.794743
3  010010202002              32.465029             -86.470777     0.487432
4  010010203001              32.479680             -86.460847     1.492869